body{
  display: flex;
}

h4{
  font-weight: 700px;
  font-size: 20px;
}

/* Styles for Salary box */
.calculate-salary-box{
  width: 680px;
  height: 616px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

.wrapper{
  margin-left: 25px;
  margin-right: 25px;
}

.label-tooltip{
  color: #757575;
  line-height: 20px;
  font-size: 16px;
}

input[type="text"]{
  border: 1px solid #E0E0E0;
  width: 250px;
  border-radius: 4px;
  height: 25px;
}

.result-salary-box .wrapper .result-headings label[type="text"]{
  float: right;
  border-color: blue;
}

.result-salary-box .wrapper .result-headings input[type="text"]{
  float: right;
  border-color: #E0E0E0;
}

.add-button{
  color: #0052EA;
  line-height: 1.5;
  cursor: pointer;
}

.reset-wrapper{
  vertical-align: middle;
  float: right;
  margin-top: 5px;
  display: flex;
  cursor: pointer;
}

hr{
  border: 1px solid #E0E0E0;
}

.sub-heading{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/* Styles for the result salary box */
.result-salary-box{
  margin-left: 10px;
  width: 510px;
  height: 614px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
}

.result-container{
  display: flex;
  float: left;
  
}

.result-salary-box .result-container .result-headings label{
  font-weight: 400;
}

.result-salary-box .result-container .result-amounts input{
  box-sizing: border-box;
  border-color: #E0E0E0;

}

.net-salary-border{
  width: 480px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  vertical-align: middle;
  
}

.net-salary-label{
  padding: 10px;
}

/* Styles for popup box */
.popup{
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}

.popup-content-earning{
  width: 540px;
  height: 384px;
  background-color: white;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  animation: slideIn 0.3s forwards;
}

.popup-content-deduction{
  width: 540px;
  height: 384px;
  background-color: white;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  animation: slideIn 0.3s forwards;
}

span .close{
  cursor: "pointer";
  float: "right";
  font-size: "30px";
  font-weight: "bold";
}

p{
  font-size: 16px;
  line-height: 20px;
  color: #003187;
  font-weight: bold;
}

.button-container{
  float: right;
}

.cancelEarning{
  border-radius: 4px;
  color: #0052EA;
  font-size: 14px;
  width: 79px;
  height: 40px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.addEarning{
  border-radius: 4px;
  background-color: #0052EA;
  color: white;
  font-size: 14px;
  width: 60px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.cancelDeduction{
  border-radius: 4px;
  color: #0052EA;
  font-size: 14px;
  width: 79px;
  height: 40px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.addDeduction{
  border-radius: 4px;
  background-color: #0052EA;
  color: white;
  font-size: 14px;
  width: 60px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 18px; 
  cursor: pointer;
}

.popup-content-earning input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.popup-content-deduction input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.popup-content-earning input[type="checkbox"]:checked{
  font-size: 50px;
  background-color: #0052EA;
}

.popup-content-deduction input[type="checkbox"]:checked{
  font-size: 50px;
  background-color: #0052EA;
}

.popup-content-earning input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.popup-content-deduction input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.vertical-line {
  border-left: 1px solid #000;
  height: 100px; 
  margin-left: 20px; 
}